{% assign title = title | downcase %}
<span class="icon">
    {% if title contains 'mobile' %}
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 2.5C6.17157 2.5 5.5 3.17157 5.5 4V20C5.5 20.8284 6.17157 21.5 7 21.5H17C17.8284 21.5 18.5 20.8284 18.5 20V4C18.5 3.17157 17.8284 2.5 17 2.5H7ZM4.5 4C4.5 2.61929 5.61929 1.5 7 1.5H17C18.3807 1.5 19.5 2.61929 19.5 4V20C19.5 21.3807 18.3807 22.5 17 22.5H7C5.61929 22.5 4.5 21.3807 4.5 20V4Z" fill="#ACACAC"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 18C11.5 17.7239 11.7239 17.5 12 17.5H12.01C12.2861 17.5 12.51 17.7239 12.51 18C12.51 18.2761 12.2861 18.5 12.01 18.5H12C11.7239 18.5 11.5 18.2761 11.5 18Z" fill="#ACACAC"/>
        </svg>
    {% elsif title contains 'tablets' %}
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21429 1.5C3.88812 1.5 3 2.35413 3 3.2V20.8C3 21.6459 3.88812 22.5 5.21429 22.5H18.7857C20.1119 22.5 21 21.6459 21 20.8V3.2C21 2.35413 20.1119 1.5 18.7857 1.5H5.21429ZM2 3.2C2 1.61582 3.54234 0.5 5.21429 0.5H18.7857C20.4577 0.5 22 1.61582 22 3.2V20.8C22 22.3842 20.4577 23.5 18.7857 23.5H5.21429C3.54234 23.5 2 22.3842 2 20.8V3.2Z" fill="#ACACAC"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 19C12 18.7239 12.2239 18.5 12.5 18.5H12.51C12.7861 18.5 13.01 18.7239 13.01 19C13.01 19.2761 12.7861 19.5 12.51 19.5H12.5C12.2239 19.5 12 19.2761 12 19Z" fill="#ACACAC"/>
        </svg>
    {%- elsif title contains 'gift' -%}
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 17H21M12 8L10 12M12 8L14 12M12 8H7.5C6.83696 8 6.20107 7.73661 5.73223 7.26777C5.26339 6.79893 5 6.16304 5 5.5C5 4.83696 5.26339 4.20107 5.73223 3.73223C6.20107 3.26339 6.83696 3 7.5 3C11 3 12 8 12 8ZM12 8H16.5C17.163 8 17.7989 7.73661 18.2678 7.26777C18.7366 6.79893 19 6.16304 19 5.5C19 4.83696 18.7366 4.20107 18.2678 3.73223C17.7989 3.26339 17.163 3 16.5 3C13 3 12 8 12 8ZM6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V11.2C21 10.0799 21 9.51984 20.782 9.09202C20.5903 8.71569 20.2843 8.40973 19.908 8.21799C19.4802 8 18.9201 8 17.8 8H6.2C5.0799 8 4.51984 8 4.09202 8.21799C3.71569 8.40973 3.40973 8.71569 3.21799 9.09202C3 9.51984 3 10.0799 3 11.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#141414" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    {%- elsif title contains 'merch' -%}
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.9628 1.51849H3.92576L0.666504 3.55553L2.29613 6.40738L3.92576 5.59257V14.1481H12.0739V5.59257L14.111 6.40738L15.3332 3.55553L12.0739 1.51849H10.0369M5.9628 1.51849C5.9628 2.0617 6.69614 3.14812 7.99984 3.14812C9.30354 3.14812 9.90107 2.0617 10.0369 1.51849M5.9628 1.51849H10.0369" stroke="#141414" stroke-width="0.666667" stroke-linejoin="round"/>
            <path d="M12.0673 11.6336C12.2091 10.541 12.3477 9.47227 12.4863 8.40357C12.4647 8.39689 12.4435 8.39022 12.4219 8.38354C11.7595 9.70274 11.0971 11.0223 10.4229 12.3659H11.8278C11.6389 13.4546 11.454 14.5225 11.2686 15.5904C11.2918 15.5971 11.3146 15.6042 11.3378 15.6109C11.9959 14.2987 12.6543 12.987 13.3333 11.6336H12.0669H12.0673Z" fill="#ACACAC"/>
        </svg>    
    {% endif %}
</span>