<div class="saso-volume-discount-tiers">
  
  <h4>Bundle & Save!</h4>
  
  <table class="saso-table">
    <thead>
      <tr>
        <th>Minimum Qty.</th>
        <th>Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td>2+</td>
        <td class="saso-price">10% Off</td>
      </tr>
      
      <tr> 
        <td>3+</td>
        <td class="saso-price">15% Off</td>
      </tr>
      
      <tr> 
        <td>4+</td>
        <td class="saso-price">20% Off</td>
      </tr>      
    </tbody>
  </table>
</div>