<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

 <div class="hero-area">
    <div class="page-width custom_width">
      <div class="hero-flex-wrapper">
        <div class="hero-content">
          <h1>clutch</h1>
          <p>
            Download the Clutch Mobile App
          </p>
  
          <div class="store-link">
            <a href="https://apps.apple.com/us/app/clutch-charger/id6446095206"  target="_blank" > <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/AppStore.png?v=1680800671" alt="" /></a>
            <a href="https://play.google.com/store/apps/details?id=co.tapcart.app.id_nK9RTq3RhW" target="_blank" > <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/PlayStore.png?v=1680800671" alt="" /></a>
          </div>
        </div>
  
        <div class="hero-slider-container">
          <div class="swiper heroSlider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/img-1.png?v=1680800672" />
              </div>
              <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/img-2.png?v=1680876227" />
              </div>
              <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/img-3.png?v=1680876228" />
              </div>
              <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/img-1.png?v=1680800672" />
              </div>
              <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/img-2.png?v=1680876227" />
              </div>
              <div class="swiper-slide">
                <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/img-3.png?v=1680876228" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <div class="download-recieve-area">
    <div class="page-width">
      <div class="section-title">
        <h2>Download & Receive</h2>
      </div>

      <div class="dn-fg-wrapper">
        <div class="dn-item">
          <div class="dn-icon"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/ic-1.svg?v=1680800671" alt="" /></div>
          <div class="dn-content">
            <p>
              10% off your first <br/> in-app purchase
            </p>
          </div>
        </div>
        <div class="dn-item">
          <div class="dn-icon"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/ic-2.svg?v=1680800671" alt="" /></div>
          <div class="dn-content">
            <p>
              Early access to new  <br/> product launches
            </p>
          </div>
        </div>
        <div class="dn-item">
          <div class="dn-icon"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/ic-3.svg?v=1680800671" alt="" /></div>
          <div class="dn-content">
            <p>
              Early access <br/>  to sales
            </p>
          </div>
        </div>
        <div class="dn-item">
          <div class="dn-icon"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/ic-4.svg?v=1680800671" alt="" /></div>
          <div class="dn-content">
            <p>
              Exclusive <br/>  in-App Purchase
            </p>
          </div>
        </div>
        <div class="dn-item">
          <div class="dn-icon"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/ic-5.svg?v=1680800671" alt="" /></div>
          <div class="dn-content">
            <p>
              Fast and  <br/> secure checkout
            </p>
          </div>
        </div>
        <div class="dn-item">
          <div class="dn-icon"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/ic-6.svg?v=1680800671" alt="" /></div>
          <div class="dn-content">
            <p>
              Easy in-app <br/>  order tracking
            </p>
          </div>
        </div>
      </div>

      <div class="section-title two_field">
        <h2>Now that you’ve download the clutch app, what’s next?</h2>
      </div>

      <div class="direction-to-user">
        <div class="steps-img">
          <div class="desktop-view">
            <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/steps.webp?v=1680800672" alt="" />
          </div>
          <div class="mobile-view">
            <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/steps-mobile.png?v=1680800672" alt="" />
          </div>
        </div>

        <div class="store-link center-place">
          <a href="https://apps.apple.com/us/app/clutch-charger/id6446095206"  target="_blank" > <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/apple-store-black.png?v=1680876226" alt="" /></a>
          <a href="https://play.google.com/store/apps/details?id=co.tapcart.app.id_nK9RTq3RhW" target="_blank" > <img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/google-play-black.png?v=1680876227" alt="" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="purchage-flexibility-area">
    <div class="page-width">
      <div class="dn-fg-wrapper two">
        <div class="dn-item">
          <div class="dn-icon-two"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/f-1.png?v=1680800671" alt="" /></div>
          <div class="dn-content-two">
            <p>1 Year Warranty</p>
          </div>
        </div>
        <div class="dn-item">
          <div class="dn-icon-two"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/f-2.png?v=1680800671" alt="" /></div>
          <div class="dn-content-two">
            <p>Free 2-3 Day US Shipping</p>
          </div>
        </div>
        <div class="dn-item">
          <div class="dn-icon-two"><img src="https://cdn.shopify.com/s/files/1/0140/3774/5750/files/f-3.png?v=1680800671" alt="" /></div>
          <div class="dn-content-two">
            <p>Free Exchange & Returns</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "download app",
    "settings": []
  }
{% endschema %}

<style>
body {
  /*    background-color: #000!important;
    color: #fff!important;
*/
  padding-bottom: 0px !important;
}
#header_wrapper{
   padding-top: 38px!important; 
}

#site-footer {
  background-color: #000 !important;
  color: #fff !important;
  padding-bottom: 148px;
}
.site-footer__section--newsletter {
  background-color: #fff !important;
  color: #333029 !important;
}

.footer__social a {
  border-color: #ffffff !important;
}

.site-footer {
  margin-top: 0px;
}

#PageContainer #shopify-section-header .site-header {
  background-color: #000 !important;
}

#PageContainer #shopify-section-header .site-nav__link {
  color: #fff !important;
}
.site-header__logo-link img {
  content: url("//cdn.shopify.com/s/files/1/0140/3774/5750/files/CLUTCH-logo-white_80x.png?v=1613791629") !important;
}

.page-width {
  max-width: 1300px;
  margin: 0 auto;
}

/* hero-area css start */
.hero-area {
  background: radial-gradient(
    86.59% 70.14% at 86.59% 70.14%,
    rgba(14, 14, 14, 0.7) 0%,
    #1a1a1a 55.95%
  );
  padding: 100px 0;
  position: relative;
}
.custom_width {
  max-width: 100% !important;
  padding-left: calc(50% - 610px);
}

.hero-flex-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.heroSlider .swiper-slide img {
  max-width: 100%;
}
.store-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  max-width: 455px;
}
.store-link a {
  display: block;
  transition: transform 0.3s;
}
.store-link a:hover {
  transform: scale(0.93);
}
.store-link a img {
  max-width: 100%;
  width: 100%;
  display: block;
}
.hero-content {
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content h1 {
    color: #fff;
/*    font-family: 'Questrial'!important; */
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 99px;
}
.hero-content p {
    color: #9e9e9e;
    width: 430px;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.3em;
}
.hero-slider-container {
  width: 800px;
  overflow: hidden;
}
.swiper-slide {
  transform: translate3d(0px, 24px, -105px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}
.swiper-slide.swiper-slide-visible.swiper-slide-active {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}
.slider-outer-box {
  position: absolute;
  right: 0;
  height: 560px;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* hero-area css end */

/* download-recieve area css start */

.download-recieve-area {
  /*    background-color: #fff;  */
  color: #333029;
  padding: 80px 0px;
}
.download-recieve-area .section-title h2{
    text-align: center;
    font-family: 'Open Sans Condensed'!important;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: 0.02em;
    color: #000;
}
.dn-fg-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-row-gap: 75px;
  border-bottom: 2px solid #000000;
  padding-bottom: 100px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}
.dn-item {
  text-align: center;
}
.dn-icon {
  background-color: #3d3d3d;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px;
  box-sizing: border-box;
  transition: 0.3s;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.dn-icon img {
  max-width: 100%;
  max-height: 100%;
}
.dn-icon::before,
.dn-icon::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.dn-icon:hover::before,
.dn-icon:hover::after {
  opacity: 1;
  visibility: visible;
}
.dn-icon::before {
  width: calc(100% + 25px);
  height: calc(100% + 25px);
  background-color: #cfcfcfeb;
  z-index: -1;
}
.dn-icon::after {
  width: calc(100% + 25px);
  height: calc(100% + 25px);
  background-color: #ffffff;
  z-index: -2;
}
.dn-icon:hover::after {
  width: calc(100% + 50px);
  height: calc(100% + 50px);
}
.section-title {
  text-align: center;
  margin-bottom: 70px;
}
.dn-content {
  width: 255px;
  text-align: center;
  margin: 0 auto;
}
.dn-content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.dn-content-two{
  margin-top: 20px;
}
.dn-content-two p{
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.store-link.center-place {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.desktop-view {
  padding-right: 180px;
}
/* download-recieve area css end */

/* purchase-flexibility area css start */
.purchage-flexibility-area {
  background-color: #1d1d1d;
  padding: 100px 0;
}
.dn-fg-wrapper.two {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.dn-fg-wrapper.two p {
  color: #fff;
}
.dn-icon-two {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.dn-icon-two img {
  max-width: 100%;
}

.steps-img img {
  max-width: 100%;
}
.mobile-view {
  display: none;
}

.two_field h2{
    width: 740px;
    margin: 0 auto;
}

/* purchase-flexibility area css end */

/* newsletter-area css start */
.newsletter-area {
  padding: 60px 0;
}

.newsletter-form {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.newsletter-form input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 18px;
  font-weight: ;
  height: 40px;
}
.newsletter-form button[type="submit"] {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}
/* newsletter-area css end */

@media screen and (max-width: 1024px) {
  .hero-area {
    padding: 75px 0;
  }
  .custom_width {
    padding-left: 60px;
  }
  .hero-content {
    width: 300px;
    min-height: 250px;
  }

  .hero-slider-container {
    min-width: 350px;
    width: 100%;
  }
  .hero-content h1{
    font-size: 70px;
    line-height: 79px;
  }
  .hero-content p{
    width: 280px;
    font-size: 25px;
  }
  .download-recieve-area .section-title h2{
    font-size: 40px;
    line-height: 48px;
  }
  .dn-icon{
    width: 95px;
    height: 95px;
  }
  .dn-content {
    width: 210px;
  }
  .dn-content p{
    font-size: 20px;
    line-height: 28px;
  }
  .dn-fg-wrapper{
    grid-gap: 20px;
    grid-row-gap: 50px;
  }
  .two_field h2 {
    width: 600px;
  }
  .desktop-view {
    padding-right: 70px;
  }
  .dn-icon-two {
    width: 95px;
  }
  .dn-content-two p{
    font-size: 20px;
    line-height: 1.5em;
  }
}
@media screen and (max-width: 767px) {
  .hero-flex-wrapper {
    display: grid;
    grid-template-columns: initial;
    grid-gap: 60px;
  }
  .custom_width {
    padding: 0 15px !important;
  }
  .hero-area {
    padding: 60px 0;
  }
  .hero-content {
    min-height: 150px;
  }
  .hero-slider-container {
    width: 100%;
  }
  .hero-content h1 {
    display: none;
    text-align: center;
  }
  .hero-content p {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 300px;
    font-size: 32px;
  }
  .store-link {
    max-width: 85%;
    margin: 0 auto;
  }
  .dn-content {
    width: 120px;
  }
  .dn-fg-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-row-gap: 50px;
  }
  .dn-fg-wrapper.two {
    display: grid;
    grid-template-columns: initial;
  }
  .dn-fg-wrapper.two .dn-content {
    width: 100%;
  }
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .swiper-slide {
    transform: translate3d(0px, 8px, -105px) rotateX(0deg) rotateY(0deg)
      scale(1) !important;
  }
  .hero-content {
    margin-left: auto;
    margin-right: auto;
  }
  .dn-icon::before,
  .dn-icon::after {
    opacity: 1;
    visibility: visible;
  }
  .dn-icon::after {
    width: calc(100% + 40px);
    height: calc(100% + 40px);
  }
  .dn-icon {
    width: 64px;
    height: 64px;
    padding: 20px;
  }
  .download-recieve-area .section-title h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .dn-content {
    width: 145px;
  }
  .dn-content p {
    font-size: 12px;
    line-height: 18px;
  }
  .two_field h2 {
    width: 310px;
  }
  .dn-fg-wrapper{
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
  .two_field {
    margin-bottom: 40px!important;
  }
  .page-width {
    padding: 0 15px;
  }
  .purchage-flexibility-area {
    padding: 70px 0;
  }
  .site-footer__section--newsletter{
    padding: 70px 0;
  }
  .h2.appear-delay{
    font-size: 32px;
    font-family: 'Open Sans Condensed'!important;
    font-style: normal;
    font-weight: 300;
  }
  .rte.rte--block.appear-delay-1 p{
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .site-footer__copyright {
    font-size: 12px;
  }
}
  
</style>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
      var swiper = new Swiper(".heroSlider", {
        effect: "coverflow",
        slidesPerView: 3,
        grabCursor: true,
        loop: true,
        spaceBetween: 30,
        speed: 3000,
        centeredSlides: true,
        autoplay: {
           delay: 1000,
        },
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 150,
          modifier: 3,
          slideShadows: false,
        },
        breakpoints: {
          768: {
            centeredSlides: false,
            spaceBetween: 50,
          }
        }
      });
</script>