<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
{{ 'component-reviews-lp.css' | asset_url | stylesheet_tag: preload: true }}

<div class="head-section text-center">
    <h2>{{ section.settings.title }}</h2>
</div>

<div class="container-reviews">
        <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
            <div class="swiper-slide review">
                <div class="container">
                    <p class="message">
                        {{ block.settings.review }}
                    </p>
                    <span class="author">
                        {{ block.settings.author }}
                    </span>
                    <svg width="97" height="20" viewBox="0 0 97 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.70943 5.04139C7.64014 4.56495 6.44549 4.44692 5.30365 4.7049C4.1618 4.96289 3.13393 5.58307 2.37335 6.47295C1.61277 7.36283 1.16022 8.47473 1.0832 9.64282C1.00617 10.8109 1.3088 11.9726 1.94595 12.9547C2.5831 13.9367 3.52063 14.6865 4.61871 15.0922C5.7168 15.4979 6.9166 15.5377 8.03919 15.2058C9.16178 14.8739 10.147 14.188 10.8479 13.2504C11.5488 12.3128 11.9279 11.1737 11.9286 10.0031V9.47756C11.9286 9.31976 12.0565 9.19184 12.2143 9.19184C12.3721 9.19184 12.5 9.31976 12.5 9.47756V10.0033C12.4993 11.2971 12.0803 12.5562 11.3056 13.5925C10.5309 14.6288 9.44197 15.3869 8.20121 15.7538C6.96046 16.1206 5.63436 16.0766 4.42068 15.6282C3.20701 15.1798 2.17079 14.3511 1.46658 13.2657C0.76236 12.1803 0.427875 10.8963 0.513006 9.60522C0.598137 8.31417 1.09832 7.08523 1.93897 6.10168C2.77961 5.11813 3.91567 4.43266 5.17771 4.14752C6.43975 3.86238 7.76016 3.99284 8.942 4.51943C9.08614 4.58366 9.15092 4.75256 9.0867 4.8967C9.02247 5.04083 8.85357 5.10562 8.70943 5.04139Z" fill="#4DACE1"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4162 5.22982C12.5278 5.34135 12.5279 5.52225 12.4164 5.63388L6.70213 11.3539C6.64856 11.4075 6.57587 11.4376 6.50007 11.4377C6.42427 11.4377 6.35157 11.4076 6.29797 11.354L4.58368 9.6397C4.47211 9.52812 4.47211 9.34722 4.58368 9.23564C4.69526 9.12406 4.87617 9.12406 4.98774 9.23564L6.4999 10.7478L12.0122 5.23002C12.1237 5.11839 12.3046 5.1183 12.4162 5.22982Z" fill="#4DACE1"/>
                        <path d="M24.97 5.6L21.4 14H20.112L16.542 5.6H18.292L20.798 11.634L23.276 5.6H24.97ZM30.2489 10.178C30.2489 10.444 30.2069 10.808 30.1509 11.018H26.1189C26.0769 11.942 26.5529 12.992 28.1769 12.992C28.8629 12.992 29.6749 12.684 30.1369 12.278V13.454C29.5629 13.902 28.6809 14.168 27.6729 14.168C25.8109 14.168 24.5089 12.81 24.5089 10.934C24.5089 9.002 25.9929 7.784 27.5609 7.784C29.1009 7.784 30.2489 8.75 30.2489 10.178ZM28.7789 10.15C28.9189 9.422 28.4429 8.82 27.6029 8.82C26.9169 8.82 26.3289 9.212 26.1889 10.15H28.7789ZM35.4205 9.366C34.3145 9.1 33.2365 9.66 33.2365 10.696V14H31.6125V7.952H33.0965L33.1665 9.058C33.5165 8.358 34.3985 7.784 35.4205 7.784V9.366ZM37.9669 6.93H36.3429V5.6H37.9669V6.93ZM37.9669 14H36.3429V7.952H37.9669V14ZM45.4355 6.93H43.8115V5.6H45.4355V6.93ZM45.4355 14H43.8115V7.952H45.4355V14ZM43.0275 9.016H41.4875V14H39.8635V9.016H38.7295V7.952H39.8635V7.896C39.8635 6.132 40.7595 5.46 42.2015 5.46C42.4675 5.46 42.8595 5.53 43.0275 5.572V6.608C42.8875 6.58 42.6355 6.524 42.4535 6.524C41.7675 6.524 41.4875 6.818 41.4875 7.868V7.952H43.0275V9.016ZM52.4383 10.178C52.4383 10.444 52.3963 10.808 52.3403 11.018H48.3083C48.2663 11.942 48.7423 12.992 50.3663 12.992C51.0523 12.992 51.8643 12.684 52.3263 12.278V13.454C51.7523 13.902 50.8703 14.168 49.8623 14.168C48.0003 14.168 46.6983 12.81 46.6983 10.934C46.6983 9.002 48.1823 7.784 49.7503 7.784C51.2903 7.784 52.4383 8.75 52.4383 10.178ZM50.9683 10.15C51.1083 9.422 50.6323 8.82 49.7923 8.82C49.1063 8.82 48.5183 9.212 48.3783 10.15H50.9683ZM60.0739 14H58.6039L58.5479 13.034C58.0439 13.776 57.1479 14.168 56.2939 14.168C54.6559 14.168 53.4519 12.796 53.4519 10.976C53.4519 9.156 54.6559 7.784 56.2939 7.784C57.1059 7.784 57.9319 8.12 58.4499 8.778V5.6H60.0739V14ZM58.5199 10.976C58.5199 9.73 57.7499 8.988 56.7979 8.988C55.8459 8.988 55.0759 9.73 55.0759 10.976C55.0759 12.222 55.8459 12.964 56.7979 12.964C57.7499 12.964 58.5199 12.222 58.5199 10.976ZM70.725 11.536C70.725 12.894 69.899 14 67.883 14H64.481V5.6H67.743C69.549 5.6 70.277 6.594 70.277 7.798C70.277 8.442 69.857 9.114 69.381 9.45C70.207 9.814 70.725 10.654 70.725 11.536ZM69.073 11.48C69.073 10.724 68.653 10.164 67.589 10.164H66.189V12.81H67.589C68.653 12.81 69.073 12.236 69.073 11.48ZM66.189 6.79V8.974H67.463C68.317 8.974 68.667 8.498 68.667 7.882C68.667 7.266 68.317 6.79 67.463 6.79H66.189ZM77.8818 14H76.3978L76.3278 12.88C75.9218 13.65 74.9978 14.168 74.0878 14.168C72.4778 14.168 71.8758 13.048 71.8758 11.55V7.952H73.4998V11.298C73.4998 12.474 73.8918 12.866 74.6478 12.866C75.4178 12.866 76.2578 12.166 76.2578 11.326V7.952H77.8818V14ZM85.0917 7.952L81.3257 16.73H79.7577L81.1017 13.664L78.6377 7.952H80.2337L81.8997 11.998L83.5517 7.952H85.0917ZM91.1297 10.178C91.1297 10.444 91.0877 10.808 91.0317 11.018H86.9997C86.9577 11.942 87.4337 12.992 89.0577 12.992C89.7437 12.992 90.5557 12.684 91.0177 12.278V13.454C90.4437 13.902 89.5617 14.168 88.5537 14.168C86.6917 14.168 85.3897 12.81 85.3897 10.934C85.3897 9.002 86.8737 7.784 88.4417 7.784C89.9817 7.784 91.1297 8.75 91.1297 10.178ZM89.6597 10.15C89.7997 9.422 89.3237 8.82 88.4837 8.82C87.7977 8.82 87.2097 9.212 87.0697 10.15H89.6597ZM96.3013 9.366C95.1953 9.1 94.1173 9.66 94.1173 10.696V14H92.4933V7.952H93.9773L94.0473 9.058C94.3973 8.358 95.2793 7.784 96.3013 7.784V9.366Z" fill="#ffffff"/>
                    </svg>                    
                </div>
            </div>
        {%- endfor -%}
        </div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev">
            <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M28.5 5.83333C40.7423 5.83333 50.6667 15.7577 50.6667 28C50.6667 40.2423 40.7423 50.1667 28.5 50.1667C16.2577 50.1667 6.33333 40.2423 6.33333 28C6.33333 15.7577 16.2577 5.83333 28.5 5.83333ZM53 28C53 14.469 42.031 3.5 28.5 3.5C14.969 3.5 4 14.469 4 28C4 41.531 14.969 52.5 28.5 52.5C42.031 52.5 53 41.531 53 28Z" fill="#ffffff"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.325 17.8417C28.8694 17.3861 28.1307 17.3861 27.6751 17.8417L18.3417 27.175C17.8861 27.6307 17.8861 28.3693 18.3417 28.825L27.6751 38.1583C28.1307 38.6139 28.8694 38.6139 29.325 38.1583C29.7806 37.7027 29.7806 36.964 29.325 36.5084L20.8166 28L29.325 19.4916C29.7806 19.036 29.7806 18.2973 29.325 17.8417Z" fill="#ffffff"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M39 27.9999C39 27.3556 38.4777 26.8333 37.8333 26.8333H19.1667C18.5223 26.8333 18 27.3556 18 27.9999C18 28.6443 18.5223 29.1666 19.1667 29.1666H37.8333C38.4777 29.1666 39 28.6443 39 27.9999Z" fill="#ffffff"/>
            </svg>                
        </div>
        <div class="swiper-button-next">
            <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M28.5 5.83333C16.2577 5.83333 6.33333 15.7577 6.33333 28C6.33333 40.2423 16.2577 50.1667 28.5 50.1667C40.7423 50.1667 50.6667 40.2423 50.6667 28C50.6667 15.7577 40.7423 5.83333 28.5 5.83333ZM4 28C4 14.469 14.969 3.5 28.5 3.5C42.031 3.5 53 14.469 53 28C53 41.531 42.031 52.5 28.5 52.5C14.969 52.5 4 41.531 4 28Z" fill="#ffffff"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.675 17.8417C28.1306 17.3861 28.8693 17.3861 29.3249 17.8417L38.6583 27.175C39.1139 27.6307 39.1139 28.3693 38.6583 28.825L29.3249 38.1583C28.8693 38.6139 28.1306 38.6139 27.675 38.1583C27.2194 37.7027 27.2194 36.964 27.675 36.5084L36.1834 28L27.675 19.4916C27.2194 19.036 27.2194 18.2973 27.675 17.8417Z" fill="#ffffff"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 27.9999C18 27.3556 18.5223 26.8333 19.1667 26.8333H37.8333C38.4777 26.8333 39 27.3556 39 27.9999C39 28.6443 38.4777 29.1666 37.8333 29.1666H19.1667C18.5223 29.1666 18 28.6443 18 27.9999Z" fill="#ffffff"/>
            </svg>                
        </div>
    
    </div>

    <div class="swiper-pagination"></div>

    <div class="read-more">
        <svg width="214" height="24" viewBox="0 0 214 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.012 19V4.6H6.764C10.052 4.6 11.468 6.496 11.468 8.824C11.468 10.696 10.556 12.28 8.492 12.832L12.86 19H10.628L6.5 13.048H3.932V19H2.012ZM3.932 11.44H6.764C8.924 11.44 9.572 10.144 9.572 8.824C9.572 7.504 8.924 6.208 6.764 6.208H3.932V11.44ZM18.9013 19.288C15.8533 19.288 13.6933 16.96 13.6933 13.744C13.6933 10.408 16.1653 8.344 18.7093 8.344C21.3013 8.344 23.1253 10.024 23.1253 12.376C23.1253 12.736 23.0533 13.192 22.9813 13.552H15.4933C15.3493 15.376 16.2133 17.8 19.5253 17.8C20.7013 17.8 22.1413 17.224 22.9333 16.456V18.064C21.9493 18.856 20.4133 19.288 18.9013 19.288ZM15.6613 12.28H21.3733C21.5893 10.888 20.4853 9.784 18.7812 9.784C17.3173 9.784 15.9733 10.576 15.6613 12.28ZM29.9804 19.288C27.1244 19.288 25.0364 16.84 25.0364 13.816C25.0364 10.792 27.1244 8.344 29.9804 8.344C31.6844 8.344 33.1964 9.184 34.0604 10.504L34.1324 8.632H35.7164V19H34.1324L34.0604 17.128C33.1964 18.448 31.6844 19.288 29.9804 19.288ZM30.4364 17.824C32.4044 17.824 34.0124 16.312 34.0124 13.816C34.0124 11.32 32.4044 9.808 30.4364 9.808C28.4684 9.808 26.8604 11.32 26.8604 13.816C26.8604 16.312 28.4684 17.824 30.4364 17.824ZM43.0351 19.288C40.1791 19.288 38.0911 16.84 38.0911 13.816C38.0911 10.792 40.1791 8.344 43.0351 8.344C44.6431 8.344 46.0831 9.088 46.9471 10.264V4.6H48.7711V19H47.1871L47.1151 17.128C46.2511 18.448 44.7391 19.288 43.0351 19.288ZM43.4911 17.824C45.4591 17.824 47.0671 16.312 47.0671 13.816C47.0671 11.32 45.4591 9.808 43.4911 9.808C41.5231 9.808 39.9151 11.32 39.9151 13.816C39.9151 16.312 41.5231 17.824 43.4911 17.824ZM56.4104 19V4.6H58.2824L63.8504 16.552L69.4184 4.6H71.1944V19H69.3464V9.184C69.3464 8.824 69.3944 8.008 69.3944 7.984C69.3464 8.056 69.0344 8.848 68.8904 9.184L64.4024 19H63.1064L58.6184 9.184C58.4504 8.824 58.1384 8.056 58.1144 7.984C58.1144 8.008 58.1624 8.824 58.1624 9.184V19H56.4104ZM79.1429 19.384C75.7829 19.384 73.4789 16.864 73.4789 13.816C73.4789 10.792 75.7829 8.248 79.1429 8.248C82.4789 8.248 84.7829 10.792 84.7829 13.816C84.7829 16.864 82.4789 19.384 79.1429 19.384ZM79.1429 17.92C81.4949 17.92 82.9589 16.096 82.9589 13.816C82.9589 11.56 81.4949 9.712 79.1429 9.712C76.7669 9.712 75.3029 11.56 75.3029 13.816C75.3029 16.096 76.7909 17.92 79.1429 17.92ZM87.0427 19V8.632H88.6267L88.7467 10.624C89.4187 9.352 91.0267 8.344 92.7787 8.344V10.312C90.8107 9.952 88.8667 11.08 88.8667 12.832V19H87.0427ZM99.245 19.288C96.197 19.288 94.037 16.96 94.037 13.744C94.037 10.408 96.509 8.344 99.053 8.344C101.645 8.344 103.469 10.024 103.469 12.376C103.469 12.736 103.397 13.192 103.325 13.552H95.837C95.693 15.376 96.557 17.8 99.869 17.8C101.045 17.8 102.485 17.224 103.277 16.456V18.064C102.293 18.856 100.757 19.288 99.245 19.288ZM96.005 12.28H101.717C101.933 10.888 100.829 9.784 99.125 9.784C97.661 9.784 96.317 10.576 96.005 12.28ZM110.645 19V4.6H115.397C118.685 4.6 120.101 6.496 120.101 8.824C120.101 10.696 119.189 12.28 117.125 12.832L121.493 19H119.261L115.133 13.048H112.565V19H110.645ZM112.565 11.44H115.397C117.557 11.44 118.205 10.144 118.205 8.824C118.205 7.504 117.557 6.208 115.397 6.208H112.565V11.44ZM127.534 19.288C124.486 19.288 122.326 16.96 122.326 13.744C122.326 10.408 124.798 8.344 127.342 8.344C129.934 8.344 131.758 10.024 131.758 12.376C131.758 12.736 131.686 13.192 131.614 13.552H124.126C123.982 15.376 124.846 17.8 128.158 17.8C129.334 17.8 130.774 17.224 131.566 16.456V18.064C130.582 18.856 129.046 19.288 127.534 19.288ZM124.294 12.28H130.006C130.222 10.888 129.118 9.784 127.414 9.784C125.95 9.784 124.606 10.576 124.294 12.28ZM137.155 19.024L132.595 8.632H134.467L137.827 16.408L141.163 8.632H142.939L138.379 19.024H137.155ZM144.465 6.592V4.6H146.289V6.592H144.465ZM144.465 19V8.632H146.289V19H144.465ZM153.901 19.288C150.853 19.288 148.693 16.96 148.693 13.744C148.693 10.408 151.165 8.344 153.709 8.344C156.301 8.344 158.125 10.024 158.125 12.376C158.125 12.736 158.053 13.192 157.981 13.552H150.493C150.349 15.376 151.213 17.8 154.525 17.8C155.701 17.8 157.141 17.224 157.933 16.456V18.064C156.949 18.856 155.413 19.288 153.901 19.288ZM150.661 12.28H156.373C156.589 10.888 155.485 9.784 153.781 9.784C152.317 9.784 150.973 10.576 150.661 12.28ZM163.186 19.024L159.106 8.632H160.906L163.858 16.432L166.81 8.632H167.89L170.866 16.432L173.794 8.632H175.498L171.418 19.024H170.242L167.314 11.512L164.338 19.024H163.186ZM180.303 19.312C178.071 19.312 176.463 18.232 176.463 18.232L176.823 16.792C177.519 17.224 178.863 17.872 180.351 17.872C181.647 17.872 182.655 17.416 182.655 16.264C182.655 15.352 181.719 14.848 180.015 14.416C177.807 13.864 176.799 12.688 176.799 11.344C176.799 9.712 178.047 8.32 180.591 8.32C182.319 8.32 183.807 9.184 183.807 9.184L183.447 10.576C182.727 10.096 181.623 9.736 180.591 9.736C179.175 9.736 178.479 10.264 178.479 11.104C178.479 11.992 179.343 12.52 180.711 12.856C183.087 13.432 184.335 14.512 184.335 15.88C184.335 18.064 182.679 19.312 180.303 19.312Z" fill="#4DACE1"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M201.5 2.5C196.253 2.5 192 6.75329 192 12C192 17.2467 196.253 21.5 201.5 21.5C206.747 21.5 211 17.2467 211 12C211 6.75329 206.747 2.5 201.5 2.5ZM191 12C191 6.20101 195.701 1.5 201.5 1.5C207.299 1.5 212 6.20101 212 12C212 17.799 207.299 22.5 201.5 22.5C195.701 22.5 191 17.799 191 12Z" fill="#4DACE1"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M201.146 7.64645C201.342 7.45118 201.658 7.45118 201.854 7.64645L205.854 11.6464C206.049 11.8417 206.049 12.1583 205.854 12.3536L201.854 16.3536C201.658 16.5488 201.342 16.5488 201.146 16.3536C200.951 16.1583 200.951 15.8417 201.146 15.6464L204.793 12L201.146 8.35355C200.951 8.15829 200.951 7.84171 201.146 7.64645Z" fill="#4DACE1"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M197 12C197 11.7239 197.224 11.5 197.5 11.5H205.5C205.776 11.5 206 11.7239 206 12C206 12.2761 205.776 12.5 205.5 12.5H197.5C197.224 12.5 197 12.2761 197 12Z" fill="#4DACE1"/>
        </svg>            
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        navigation: {
            nextEl: ".reviews_lp .swiper-button-next",
            prevEl: ".reviews_lp .swiper-button-prev",
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
        },
        breakpoints: {
            768: {
              centeredSlides: true,
              slidesPerView: 3.8,
              spaceBetween: 32,
              loop: true
            }
        }
    });

    swiper.slideTo(2);

    document.querySelector('.reviews_lp .read-more').addEventListener('click', () => {
        document.querySelector('.jdgm-revs-tab-btn').click();
    });

</script>

{% schema %}
    {
        "name": "Reviews LP",
        "class": "reviews_lp",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title section",
                "default": "Our Customers Think We’re Clutch!"
            }
        ],
        "blocks": [
            {
                "type": "rview",
                "name": "Review",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "review",
                        "label": "Review"
                    },
                    {
                        "type": "text",
                        "id": "author",
                        "label": "Author"
                    }
                ]
            }
        ],
        "presets": [
            {
            "name": "Reviews LP"
            }
        ]
    }
{% endschema %}



