{% comment %}
  sidecart-icons
{% endcomment %}

<div class="sidecart-icons">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptates! Pariatur aliquam odio nisi, labore cumque at ab ipsa earum cum in inventore deleniti aperiam sed rem, tenetur enim saepe.</p>
</div>